$spot-list-width: 460px;

@import "spot-list/SpotList";
@import "spot-details/SpotDetails";

.Search {
    width: 100%;
}

.Search-content {
    position: absolute;
    top: 0;
    left: $spot-list-width;
    width: calc(100vw - #{$spot-list-width});
    height: 100vh;
    background: $color-fuel;
}

.Spot-details-modal {
    top: 30%;
    right: 20%;
    left: auto;
    height: auto;
    width: auto;
    max-width: $spot-list-width;
}
